/* GENERAL */
html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #F2F2F2;
  font-family: "Jost" sans-serif;
}

.container{
  width: 1115px;
  align-items: center;
  margin: 0 auto;
  padding-top: 94px;
}

a {
  text-decoration: none;
}
